*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}

#carlogo{
    height: 80px;
    width: 200px;
}
.navbar{
    background-color: rgba(82, 153, 35, 0.621);
    
}
.nav-item{
    font-size: 150%;
}
.navbar-nav li:hover{
    color: orange;
    text-decoration: underline;
}

.section1 h1{
    background-color: rgba(255, 255, 255, 0.425);
    color: black;
    
}
.section1 h2{
    padding-left: 20%;
    background-color: rgba(255, 255, 255, 0.425);
    color: black;   
}
.bg-dark{
    opacity: 0.5;
}
.yvy{
    position: sticky;
    top: 0;
    z-index: 10;
}

